html {
    font-family: Georgia, "Times New Roman", serif; 
}
    
body {
    background-color: #CC0066; 
} 

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 4.5rem; 
    font-weight: normal; 
    color: #660066

} 

h1 {text-align:center}

h1
{
text-shadow: 5px 5px 5px #FFF;
}

h2 {
    color: #FFF
        
}   

p, 
li {
    font-size: 1rem;
    line-height: 1.5rem;

} 

h1 + p { 
    font-size: 1.5rem; 
    line-height: 1.75rem; 

}

strong { 
    font-weight: bold; 
} 

em { 
    font-style: italic; 
} 

hr { 
    border: dashed 2px #FFFFFF; 
} 
 
ol { 
    background-color: #FFFF00; 
} 

li {
    background-color: #FFF; 
} 

ol li:first-child { 
    background-color: #CC00CC
} 

ol li:last-child { 
    background-color: #66CCFF; 
} 

h2 {text-decoration:underline}

